@CHARSET "UTF-8";


.label {
	font-size: 20px;
}

body {
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
}

#Container {
	width: 800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:11px;
}

#Header {
	height:50px;
	background-color: #28e1fa;
	position:relative;
	
}

.word {
	
	font-size:20px;
	font-family:Courier;
	position:absolute;
	top:10px;
	left:250px;
}

#Menu {
	height:60px;
	background-color:#d3efb6;
	border: dotted;
}


#Menu li {
	list-style-type:none;
	float:left;
	display:block;
	width:150px;
	height:60px;
	text-align:center;
	line-height:55px;
}

#Menu li a {
	text-decoration:none;
	color:#09120e;
}



#Body >* {
	/*display:inline;*/
	float:left;
	
	
}

#leftBar {
	width:100px;
	height:400px;
	background-color:#bffedd;
	/*float:left;*/
}


.leftWebsite li {
   list-style-type:none;
   margin-bottom: 10px;
   margin-right:50px;
   margin-left:0px;
   
}



#MainBody {
	width:600px;
	height:400px;
	background-color:#e3fae0;
}



#rightBar {
	width:100px;
	height:400px;
	background-color:#f1f593;
	/*float:right;*/
}

.rightWebsite li {
   list-style-type:none;
   margin-bottom: 10px;
   margin-right:50px;
   margin-left:0px;
}




#Footer {
	height:10px;
	margin-bottom:10px;
	background-color:#CCC;
	clear:both;
}

#Menu ul {
	margin:0;
	padding:0;
}



div.word {    /* creates the default color as black */
     color: #000000;
}
div.word:hover {  /* changes the color of the text to blue on mouseover */
     color: #0000ff;
}


